
 
  form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin-top: 3%;
	margin-left: 39%;
	
	background-color:#ccc;
  }

  form label{
	width:80px;
	font-weight:bold;
	display:inline-block;
    color: rgb(93, 2, 116);
  }

  form input[type="text"],
  form input[type="email"]{
	width:100%;
    height: 5%;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
  }

  form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid rgb(143, 3, 131);
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:rgb(218, 76, 170);
    transition-duration: 0.4s;
  }

  form input[type="submit"]:hover{
	cursor:pointer;
    background-color: #5c054d; /* Green */
    color: white;
    
  }

  textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
	display:block;
  }

 
h3{
  text-align: center;
  text-decoration: none;
  color: rgb(114, 25, 102);
}




