body{
    background-color: plum;
    margin:0;
    padding: 0;
    
}

.titulo {
    color: purple;
    text-align: center;
    display: inline-block;
    width: 98.2%;
    margin-top: 0;
    border: solid 2px;
    background-color: mistyrose;
    border-radius: 6px;
    padding: 10Px;
    box-shadow: 5px 3px rgba(104, 104, 104, 0.37);
}
.header{
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  height: 15%;
  background-color: white;

}

#logo{
  float: right;
  width: 5%;
  height: 70%;
  margin: 1%;
  border-radius: 20px;
  object-fit: cover;
}

.menu{
  margin-bottom: 2%;
  border:solid 0px #aaa;
}

.nav{
  display:inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a{
  display: block;
  padding: 8px;
  background-color: plum;
}
ul {
  list-style-type: none;
  margin-top:10%;
  padding: 0PX;
  overflow: hidden;
  background-color:#333;
}

li {
  display: inline;
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: rgb(78, 44, 44);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(148, 141, 141);
  
}

li:last-child {
  border-right: none;
}

.title{
  text-align:center;
  text-decoration: none;
  color:rgb(163, 79, 90);
}

h4{
  text-decoration: none;
  color:rgb(218, 99, 99);
}
.item {
    text-align: center;
    display: inline-block;
    width: 40%;
    height: 40%;
    border-radius: 0px;
    padding: 0px;
    margin-top: 1%;
    margin-left: 5%;
    background-color: lightpink;
}

#img {
    width: 40%;
    height: 70%;
    margin: 0%;
}
#img:hover{
   opacity: 0.5;
}

.footer{
    width: 100%;
    height: 30%;
    background-color: white;
  }

h3{
  text-align: center;
  text-decoration: none;
  color: rgb(114, 25, 102);
}

.redes{
  text-align:center;
	  display: inline-block; 
	  width: 25%;
    height: 25%;
    border-radius: 0px;
    padding: 0px;
	  margin-top: 2%;
	  margin-left: 8%;
    margin-right: 0;  
}




#icono {
  border: none;
  padding: 5px;
  width: 40px;
  display: block;
  
}

#icono:hover {
  opacity: 0.5;
}

#parrafo{
  text-align: end;
  color:   rgb(119, 3, 94);
  font-weight: bold;
  font-size: 20px;
}

